@model prueba1.Models.JugadorCLS
@{
    ViewBag.Title = "obj_jugador";
}

<h2>obj_jugador</h2>

<p>

    ID: @Model.id
    <br />
    Apellido: @Model.apellido
    <br />
    Nombre: @Model.nombre

</p>
